html,
body {
  box-sizing: border-box;
  background-color: whitesmoke;
}

h1,
p {
  text-align: center;
  margin: 1.2em;
  color: #20262e;
}

h1 {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

table,
th,
td {
  text-align: start;
  font-size: 1.2rem;
  padding: 0.8rem;
  border: 1px solid #20262e;
  border-collapse: collapse;
  color: #20262e;
}

a {
  color: #20262e;
}

th {
  background-color: #cd5888;
  color: white;
}

tr:hover {
  background-color: #e9e8e8;
}
